---
import EditorCodigo from "./EditorCodigo.astro";
//TODO: Las pruebas son variables y el enunciado se trae de un md.
---

<div class="flex w-full gap-4 h-full p-1">
    <div class="h-full w-full">
        <h1 class="text-3xl font-bold underline">
            <!-- //TODO: El enunciado se trae de un md. -->
            Seccion de enunciado de la prueba.
        </h1>
    </div>

    <div class="h-full w-full flex flex-col">
        <EditorCodigo />
    </div>
</div>
